<div class="row">
  <div class="col-sm-4">
    <h1 class="bpadding">List of Trains</h1>
    <p>
      <form action="/trains/delete" method="post">
        <input name="_method" type="hidden" value="delete">
        <button class="btn-lg" type="submit">Clear Trains</button>
      </form>
    </p>
    <%if @trains%>
    <ul>
      <%@trains.each() do |train|%>
      <li><a href="/train/<%=train.id%>/edit"><%=train.name%></a></li>
      <%end%>
    </ul>
    <%else%>
      <h3>No trains have been added yet</h3>
    <%end%>
  </div>
  <div class="col-sm-4">
    <h1 class="bpadding">List of Stops</h1>
    <p>
      <form action="/stops/delete" method="post">
        <input name="_method" type="hidden" value="delete">
        <button class="btn-lg" type="submit">Clear Stops</button>
      </form>
    </p>
    <%if @stops%>
    <ul>
      <%@stops.each() do |stop|%>
      <li><a href="/stop/<%=stop.id%>/edit"><%=stop.name%></a></li>
      <%end%>
    </ul>
    <%else%>
      <h3>No stops have been added yet</h3>
    <%end%>
  </div>
  <div class="col-sm-4">
    <h1 class="bpadding">List of Timetables</h1>
    <p>
      <form action="/timetables/delete" method="post">
        <input name="_method" type="hidden" value="delete">
        <button class="btn-lg" type="submit">Clear Timetables</button>
      </form>
    </p>
    <%if @timetables%>
    <ul>
      <%@timetables.each() do |timetable|%>
      <li><a href="/timetable/<%=timetable.id%>/edit"><%=timetable.name%></a></li>
      <%end%>
    </ul>
    <%else%>
      <h3>No timetables have been added yet</h3>
    <%end%>
  </div>
</div>
<div class="container row">
  <div class="col-sm-4">
    <% if @permissions == true %>
      <form action="add_train" method="post">
        <div class="form-group">
          <label for="name">Enter name</label>
          <input type="text" name="name" value="">
        </div>
        <button class="move_right" type="submit">Submit new Train</button>
      </form>
    <% end %>
  </div>

  <div class="col-sm-4">
    <% if @permissions == true %>
      <form action="add_stop" method="post">
        <label for="name">Enter name</label>
        <input type="text" name="name" value="">
        <button class="move_right" type="submit">Submit new Stop</button>
      </form>
    <% end %>
  </div>

  <div class="col-sm-4">
    <% if @permissions == true %>
      <form action="add_timetable" method="post">
        <label for="name">Enter name</label>
        <input type="text" name="name" value="">
        <button class="move_right" type="submit">Submit new Timetable</button>
      </form>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="container col-md-12 well" id="results_buttons">
    <p>
      <a class="functional" href="/add_stops_to_trains">Add Stops to Trains</a>
    </p>
    <p>
      <a class="functional" href="/add_trains_to_stops">Add Trains to Stops</a>
    </p>
    <p>
      <a class="functional" href="/">Home Page</a>
    </p>
  </div>
</row>
